<!DOCTYPE html>

<html>
  <head>
    <title>Tableau Visualizations</title>
    <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script>
        function initViz() {
          var containerDiv = document.getElementById("tableauViz"),
            url = "https://public.tableau.com/profile/jt.von.seggern#!/vizhome/NBAAttendanceDashboard/NBAAttendanceDashboard?publish=yes";
    
        var viz = new tableau.Viz(containerDiv, url);
        }
      </script>
  </head>
  <body onload="initViz();">
    <div id="tableauViz"></div>
  </body>
  

</html>
